<h2 class="t-center t-bold">REGLAMENTO DE PRACTICAS PRE PROFESIONALES</h2>
<h3  class="t-center  t-bold">Capitulo I</h3>
<h4  class="t-center  t-bold">ASPECTOS GENERALES Y DISPOSITIVOS LEGALES</h4>
<p class=" t-bold">Art. N°1.-</p><p>La Escuela Académico Profesional de Ingeniería Civil, de la Universidad Peruana
Unión dentro de su estructura curricular exige que el estudiante realice practicas pre
profesionales durante su formación profesional.</p>

<p class=" t-bold">Art. N°1.-</p><p>La Escuela Académico Profesional de Ingeniería Civil, de la Universidad Peruana
    Unión dentro de su estructura curricular exige que el estudiante realice practicas pre
    profesionales durante su formación profesional.</p>
