<h2 class="t-center t-bold">REGLAMENTO DE PRACTICAS PRE PROFESIONALES</h2>
<h3  class="t-center  t-bold">CAPTULO I</h3>
<h4  class="t-center  t-bold">ASPECTOS GENERALES Y DISPOSITIVOS LEGALES</h4>
<p style="text-align: justify;"> <b>Art. N°1.-</b> La Escuela Académico Profesional de Ingeniería Civil, de la Universidad Peruana
    Unión dentro de su estructura curricular exige que el estudiante realice practicas pre
    profesionales durante su formación profesional.
</p>

<p style="text-align: justify;"> <b>Art. N°2.-</b> La culminación de las prácticas pre profesionales bajo sus distintas modalidades
    que contempla el presente reglamento son un requisito indispensable para acceder al grado
    académico de bachiller por parte del egresado.
</p>

<p> <b>Art. N°3.-</b> El presente reglamento se ampara en los siguientes dispositivos legales:
    
</p>
<ul>
    <li>Ley N° 23733 Ley Universitaria</li>
    <li>Ley N° 28518 Ley sobre modalidades formativas laborales</li>
    <li>Reglamento General de Grados y Títulos de la UPeU</li>
    <li>Reglamento de Investigación de la UPeU
    </li>
</ul>

<h3  class="t-center  t-bold">CAPTULO II</h3>
<h4  class="t-center  t-bold">DE LA DENOMINACION, MODALIDADES Y OBJETIVOS</h4>
<p style="text-align: justify;"> <b>Art. N°4.-</b> Se denomina practicas pre profesionales (PPP) a las actividades que realizas los
    estudiantes de la Escuela Académico Profesional de ingeniería civil en las diferentes entidades
    públicas o privadas con personería jurídica donde el ingeniero civil se desempeña como
    profesional, cumpliendo los requisitos establecidos en el presente reglamento y la debida
    autorización de la Escuela académico Profesional de Ingeniería Civil.    
</p>
<p> <b>Art. N°5.-</b> Las PPP tendrán una duración mínima de 750 horas acumulables bajo las
    siguientes modalidades.
</p>
<ol>
    <b>MODALIDAD 01</b>
    <ul>
        <li type="disc">N° de horas en investigación científica (I Etapa)  : 350</li>
        <li type="disc">N° de horas en entidades públicas o privadas (II Etapa) : 350</li>
        <li type="disc">N° de horas en proyección social y extensión universitaria : 50</li>
    </ul>
</ol>
<ol>
    <b>MODALIDAD 02</b>
    <ol>
        <li type="disc">N° de horas en entidades públicas o privadas (I Etapa) : 350</li>
        <li type="disc">N° de horas en entidades públicas o privadas (II Etapa) : 350</li>
        <li type="disc">N° de horas en proyección social y extensión universitaria : 50</li>
    </ol>
</ol>
<p> <b>Art. N°6.-</b> Son objetivos de las PPP: </p>
<ul>
    <li>Cumplir con el plan de estudios establecido para la EAP de Ingeniería Civil.</li>
    <li style="text-align: justify;">Aplicar los conocimientos teóricos y prácticos adquiridos por el estudiante durante su
        formación universitaria, mediante una interrelación social y profesional incentivando su
        integración a la sociedad y al mercado laboral.</li>
    <li>Incitar al futuro egresado a la práctica de la investigación en las distintas
        especialidades de la ingeniería civil, bajo los estándares exigidos en el área para el
        nivel universitario.</li>
    <li>Permitir realizar actividades de proyección social y extensión universitaria en la
        población, divulgando los conocimientos adquiridos
    </li>
    <li>Lograr que los futuros egresados inicien a laborar en distintos niveles como miembros
        de equipos de trabajo interdisciplinario y multifacético.</li>
</ul>
<h3  class="t-center  t-bold">CAPTULO III</h3>
<h4  class="t-center  t-bold">DE LA ORGANIZACIÓN Y ADMINISTRACION</h4>
<p style="text-align: justify;"> <b>Art. N°7.-</b> La Dirección de estudios de la EAP de Ingeniería Civil, al inicio de sus actividades
    anuales implementara la “COORDINACION DE PRACTICAS PRE PROFESIONALES” el cual
    es un organismo de asesoría y ejecución que se encarga de planificar, organizar, coordinar,
    dirigir, supervisar, asesorar, controlar y evaluar las actividades referentes a las PPP de los
    futuros egresados. </p>
<p style="text-align: justify;"> <b>Art. N°8.-</b> El coordinador de Practicas Pre Profesionales, será un docente ordinario de la EAP
    propuesto por el director de la EAP ante el consejo de facultad para su aprobación y
    reconocimiento mediante resolución decanal.</p>
<p> <b>Art. N°9.-</b> Son funciones del Coordinador de Practicas Pre Profesionales: </p>
<ul>
    <li>Dirigir y organizar las PPP de la EAP de Ingeniería Civil</li>
    <li>Convocar de manera periódica al proceso de cubrimiento de cupos de PPP
        gestionados por la EAP.</li>
    <li>Evaluar y autorizar las solicitudes de PPP de los estudiantes que por cuenta propia han
        identificado su centro de PPP.</li>
    <li>Solicitar a la Dirección de la EAP la emisión de las Cartas de Presentación de los
        estudiantes que acceden a las PPP, llevando un archivo de los documentos emitidos.
    </li>
    <li>Proponer al DOCENTE ASESOR DE PPP para su designación.</li>
    <li>Resolver en última instancia, problemas y consultas que se vinculan con el desarrollo
        de las PPP de los estudiantes en los diferentes centros de prácticas</li>
    <li> Recibir de la Dirección los expedientes relacionados a todo el proceso de
        EVALUACION CALIFICACION DE PRACTICAS PRE PROFESIONALES para su
        trámite respectivo.</li>
    <li>Proponer al JURADO EVALUADOR de los informes de PPP presentados por los
        estudiantes.</li>
    <li style="text-align: justify;">Llevar un archivo denominado: COORDINACION DE PRACTICAS PRE
        PROFESIONALES DE INGENIERIA CIVIL, donde se ira registrando la documentación
        administrativa generada durante la labor desempeñada.</li>
    <li>Presentar un informe anual de las actividades desarrolladas por la coordinación.
    </li>
    <li>Hacer cumplir el presente reglamento y realizar su respectiva difusión.
    </li>
</ul>
<h3  class="t-center  t-bold">CAPTULO IV</h3>
<h4  class="t-center  t-bold">DE LA GESTION PLANIFICACION Y PROGRAMACION</h4>
<p style="text-align: justify;"> <b>Art. N°10.-</b> Las PPP que han de realizarse en alguna entidad pública o privada, tienen una
    duración mínima de 350 horas y son gestionadas por la EAP o por el estudiante, siempre que
    se cumpla con los requisitos establecidos en el presente reglamento </p>
<p style="text-align: justify;"> <b>Art. N°11.-</b> Las PPP que han de realizarse como Investigación Científica, tienen una duración
    máxima de 350 horas y son gestionadas por la EAP o por el estudiante ante una entidad
    dedicada a la investigación científica en cualquiera de las especialidades de la ingeniería civil.
    Debiéndose aplicar en este caso, además del presente reglamento, el reglamento de
    investigación de la EAP </p>
<p style="text-align: justify;"> <b>Art. N°12.-</b>  Las PPP que han de realizarse como proyección social y extensión universitaria,
    tienen una duración máxima de 50 horas y son gestionadas por la EAP o por el estudiante ante
    una entidad que pueda validar las actividades de proyección social y extensión universitaria
    que ha de realizarse. Dichas actividades deberán estar relacionadas con las actividades en las
    que un ingeniero civil se desempeña. </p>
<p style="text-align: justify;"> <b>Art. N°13.-</b> Las PPP serán desarrolladas en el periodo que el estudiante viera por conveniente
    una vez que cumpla este con los requisitos establecidos, no existiendo restricción al respecto.</p>
<p style="text-align: justify;"> <b>Art. N°14.-</b> Las PPP que sean gestionadas por la EAP serán adjudicadas por estricto orden de
    mérito entre los estudiantes que cumplan con los requisitos exigidos en el presente reglamento.</p>

<h3  class="t-center  t-bold">CAPTULO V</h3>
<h4  class="t-center  t-bold">DE LOS REQUISITOS</h4>
<p> <b>Art. N°15.-</b> Los requisitos para realizar PPP en la forma de investigación científica son:</p>
<ul>
    <li>Haber acumulado 125 créditos dentro de su record académico. </li>
    <li>Haber aprobado satisfactoriamente tres (03) cursos como mínimo dentro el área de formación especializada en el cual pretende desarrollar la investigación.</li>
    <li>Contar con un perfil de investigación aprobado bajo el reglamento de investigación de la EAP.</li>
</ul>
<p> <b>Art. N°16.-</b>  Los requisitos para realizar PPP en la forma de prácticas en entidades públicas y privadas (I Etapa) son:</p>
<ul>
    <li>Haber acumulado 125 créditos dentro de su record académico. </li>
    <li>Haber aprobado satisfactoriamente tres (03) cursos como mínimo dentro el área de formación especializada en el cual pretende desarrollar las PPP.</li>
</ul>
<p> <b>Art. N°17.-</b> Los requisitos para realizar PPP en la forma de prácticas en entidades públicas y privadas (II Etapa) son:</p>
<ul>
    <li>Haber acumulado 145 créditos dentro de su record académico. </li>
    <li>Haber culminado satisfactoriamente el periodo de PPP en la forma de investigación científica o el periodo de PPP en la forma de prácticas en entidades públicas o privadas I Etapa.</li>
    <li>Haber aprobado satisfactoriamente cuatro (04) cursos como mínimo dentro el área de
        formación especializada en el cual pretende desarrollar las PPP.</li>
</ul>
<p> <b>Art. N°18.-</b> Los requisitos para realizar PPP en la forma de Proyección Social y Extensión Universitaria son:</p>
<ul>
    <li>Haber acumulado 80 créditos dentro de su record académico.</li>
    <li>Haber aprobado satisfactoriamente dos (02) cursos como mínimo correspondiente a las
        áreas de formación especialidad de la ingeniería civil.</li>
    <li>Contar con proyecto de proyección social y extensión universitaria debidamente
        aprobado según el reglamento de proyección social y extensión universitaria de la EAP.</li>
</ul>
<h3  class="t-center  t-bold">CAPTULO VI</h3>
<h4  class="t-center  t-bold">DEL DOCENTE ASESOR</h4>
<p style="text-align: justify;"> <b>Art. N°19.-</b> EL docente asesor es un docente ordinario de la EAP de Ingeniería Civil y es
    propuesto por la COORDINACION DE PRÁCTICAS PRE PROFESIONALES, y designado por
    la Dirección.</p>
<p> <b>Art. N°20.-</b>  El docente asesor tiene por función lo siguiente:</p>
<ul>
    <li>Asesorar al practicante en las labores que este desempeña en su centro de prácticas.</li>
    <li>Hacer un seguimiento del comportamiento técnico, profesional y actitudinal del
        practicante en su centro de PPP.</li>
    <li>Resolver y solucionar en primera instancia problemas y consultas por parte del
        practicante, vinculadas al desarrollo de las PPP.</li>
    <li>Emitir un informe de finalización de PPP por parte del practicante.</li>
    <li>Asesorar al practicante en la elaboración del informe de PPP, y visar el contenido
        respectivo.</li>
</ul>
<h3  class="t-center  t-bold">CAPTULO VII</h3>
<h4  class="t-center  t-bold">DE LA AUTORIZACION DESARROLLO Y SUPERVISION</h4>
<p style="text-align: justify;"> <b>Art. N°21.-</b>El estudiante que por cuenta propia haya identificado su centro de prácticas
    solicitara a la dirección de la EAP una carta de presentación indicando la entidad o institución
    donde realizara sus PPP y el tipo de labor que se ha previsto.
    </p>
<p style="text-align: justify;"> <b>Art. N°22.-</b>Una vez emitida por la dirección la carta de presentación de PPP, el estudiante se
    presentara a su centro de prácticas, en caso ser aceptado el estudiante firmara un convenio de
    PPP correspondiente, fijando los términos en cuanto a horas de prácticas, horarios, acciones,
    tareas, actividades y todo programa que permita al practicante incrementar sus conocimientos
    prácticos en el campo de la ingeniería civil.
    </p>
<p style="text-align: justify;"> <b>Art. N°23.-</b>El estudiante que haya sido aceptado en un centro de PPP, deberá informar en un
    plazo no mayor a cinco días dicho suceso a la Dirección de la EAP. A fin de que se le asigne un
    asesor de PPP y se considere oficialmente autorizada la PPP. En caso de que el estudiante
    omita este requisito se considerara que las PPP han sido renunciadas o rechazadas y por
    consiguiente no tienen ningún tipo de valides sin opción a reclamo alguno.</p>
<p style="text-align: justify;"> <b>Art. N°24.-</b> Una vez iniciado el periodo de PPP el docente asesor deberá presentar en un
    plazo no mayor a diez días hábiles desde su designación, un documento ante la coordinación
    de PPP indicando las condiciones bajo las cuales se ha iniciado el periodo de PPP.</p>
<p style="text-align: justify;"> <b>Art. N°25.-</b> Durante el desarrollo de PPP el estudiante debe acatar las normas y reglamentos
    de la entidad en la cual se viene desempeñando, en caso de que esto sea ignorado por el
    estudiante se hará acreedor de sanciones por parte de la EAP.</p>
<p style="text-align: justify;"> <b>Art. N°26.-</b>El docente asesor evaluará permanentemente al estudiante practicante, sugiriendo,
    asesorando y haciendo el seguimiento del comportamiento técnico, profesional y actitudinal del
    practicante en su Centro de Prácticas. Remitirá mínimamente a la COORDINACION DE
    PRACTICAS DE LA ESCUELA un (01) informe sobre el desarrollo de la práctica y las acciones
    de asesoramiento implementadas, durante todo el periodo de PPP.</p>
<p style="text-align: justify;"> <b>Art. N°27.-</b>Cuando el estudiante haya culminado el periodo de PPP elevara un informe ante
    su asesor de PPP, comunicando el hecho e indicando los aspectos más relevantes de su
    desempeño en el periodo de PPP.</p>
<p style="text-align: justify;"> <b>Art. N°28.-</b>Al culminar el periodo de PPP, el Docente Asesor tomará cuenta del cumplimiento
    de las labores encomendadas al practicante, constatando personalmente en el centro de
    prácticas. Emitirá reporte final de la práctica, el mismo que será presentado mediante
    documento a la Dirección de la EAP adjuntando además la ficha de evaluación de las PPP del
    centro de prácticas, en un periodo no mayor a diez (10) días hábiles computados a partir de la
    fecha en la que se finaliza el periodo de PPP.</p>
<p style="text-align: justify;"> <b>Art. N°29.-</b>Cuando se haya concluido con el periodo de PPP correspondientes a prácticas en
    entidades públicas o privadas (II Etapa) el estudiante deberá presentar en un plazo no mayor a
    30 días hábiles contados a partir de la culminación del periodo de PPP, el informe final de
    prácticas pre profesionales en borrador. Por situaciones administrativas, solo serán tramitados
    los informes que sean presentados hasta 60 días calendarios antes de finalizar el semestre
    académico correspondiente. </p>
<h3  class="t-center  t-bold">CAPTULO VIII</h3>
<h4  class="t-center  t-bold">DEL INFORME Y SU EVALUACION</h4>
<p> <b>Art. N°30.-</b> El informe de PPP será presentado mediante una solicitud dirigido a la Dirección de
    la EAP solicitándose su revisión y calificación considerando la siguiente documentación:</p>
<ul>
    <li>Solicitud dirigida al director de la EAP, solicitando revisión y calificación de PPP</li>
    <li>03 Ejemplares de del informe borrador de PPP (anillado) visado por el docente asesor y adjuntando en cada ejemplar
        <ul>
            <li>Original o copia legalizada del certificado de PPP en el primer ejemplar, y copia simple en los otros ejemplares.</li>
            <li>Copia de carta de presentación emitida por la dirección de la EAP</li>
            <li>Reporte final del docente asesor indicando la conformidad de las PPP</li>
            <li>Original de la Ficha de evaluación del centro de prácticas en el primer ejemplar, y copia simple en los otros ejemplares.</li>
        </ul>
    </li>
    <li>Copia en formato digital del borrador del informe de PPP.</li>
</ul>
<p> <b>Art. N°31.-</b> El trámite que corresponde a la Dirección de la EAP al recepcionar la solicitud de revisión y calificación de PPP es el siguiente:</p>
<ul>
    <li>Derivar el expediente a la coordinación de prácticas pre profesionales a efectos de dar
        atención a la solicitud.</li>
    <li>Nominar el jurado evaluador a propuesta de la coordinación de PPP mediante
        memorándum.</li>
    <li style="text-align: justify;">Solicitar la resolución decanal de aprobación y reconocimiento de las prácticas pre
        profesionales, a propuesta de la coordinación de prácticas pre profesionales, luego de
        que el jurado evaluador haya aprobado el informe respectivo mediante acta de
        calificación.</li>
</ul>

<p> <b>Art. N°32.-</b> El trámite que le corresponde a la coordinación de practicas pre profesionales
    respecto a la solicitud de revision y calificación de PPP es el siguiente:</p>
<ul>
    <li>Recepcionar el expediente de trámite de la dirección de la EAP.</li>
    <li style="text-align: justify;">Verificar la conformidad del expediente de trámite y proponer al jurado evaluador ante
        la dirección de la EAP, derivando a cada miembro un ejemplar del borrador del informe
        de PPP.</li>
    <li style="text-align: justify;">Recabar del Jurado evaluador el acta de evaluación de PPP, en original y dos copias
        insertadas dentro de los 03 ejemplares respectivos del informe en limpio (Empastado)
        que el estudiante ha elaborado en base a las correcciones realizadas.</li>
    <li>Proponer a la dirección de la EAP que se solicite la emisión de la resolución decanal de
        aprobación y reconocimiento de PPP.</li>
</ul>
<p> <b>Art. N°33.-</b>  El informe de PPP debe tener características específicas dentro del área de un
    área de formación específica que puede ser:</p>
<ul>
    <li>Área de Estructuras </li>
    <li>Área de Hidráulica</li>
    <li>Área de Obras Viales</li>
    <li>Área de Construcciones y Gerencia</li>
    <li>Área de Mecánica de Suelos y Geotécnica  </li>
    <li> Área de Medio Ambiente  </li>
</ul>

<p style="text-align: justify;"> <b>Art. N°34.-</b>El contenido del informe de PPP deberá estar orientado de forma obligatoria a un
    tema específico desarrollado durante el periodo de PPP en la forma de prácticas en entidades
    públicas y privadas (I Etapa), siendo un contenido propuesto el siguiente, sin que esto
    signifique limitación o restricción alguna:</p>
<ul>
    <li style="text-align: justify;">Marco General: donde se detallan, Centro de Práctica, organigrama del Centro de
        Práctica, relación funcional de la oficina o área donde se ha desarrollado la práctica,
        período de prácticas, trabajo en equipo, entre otros aspectos relevantes</li>
    <li>Desarrollo del Tema de Práctica, considerando los siguientes items
        <ul>
            <li>Resumen</li>
            <li>Justificación</li>
            <li>Andecedentes</li>
            <li style="text-align: justify;">Ingeniería del Proyecto en el tema de Prácticas (relacionado al área de
                especialización profesional), debe particularizarse el aporte del practicante en
                el Centro de Prácticas y a nivel de la Escuela.</li>
            <li>Hojas de diseño o cálculos</li>
            <li> Procedimientos constructivos o especificaciones técnicas inéditas
            </li>
            <li>Costos, presupuesto, cronogramas, valorizaciones, programación o liquidación
                si hubiera el caso.</li>
            <li>Conclusiones y Recomendaciones</li>
            <li>Anexos, donde se incluyan: planos, panel fotográfico, tablas, programas de
                cómputo, etc.</li>
        </ul>
    </li>
</ul>
<p> <b>Art. N°35.-</b>El proceso de revisión del informe de PPP por parte del jurado evaluador será el
    siguiente.</p>
<ul>
    <li style="text-align: justify;">Habiendo recibido el jurado evaluador sendos ejemplares del informe de PPP, se le
        otorga un plazo de diez (10) días calendarios para que procedan a la revisión
        respectiva y la formulación de observaciones si fuesen necesarias.</li>
    <li style="text-align: justify;">Al cabo de los diez días el presidente convocara al jurado a fin de que se elabore la
        hoja única de observaciones en un plazo no mayor a 48 horas, la cual debe estar
        visada por los miembros del jurado.</li>
    <li style="text-align: justify;">Conjuntamente con la “Hoja única de observaciones” el jurado deberá entregar al
        estudiante, con cargo, los ejemplares del informe borrador, para que realiace la
        subsanación respectiva en un plazo máximo de veinte (20) días calendarios.</li>
    <li style="text-align: justify;">Una vez subsanadas las observaciones el estudiante deberá presentar al jurado el
        informe corregido a fin de que bajo una autorización por escrito se de conformidad al
        informe de PPP, y se autorice la edición de los tres (03) ejemplares en limpio del
        informe de PPP (Empastados).
        </li>
    <li style="text-align: justify;">El estudiante entregara al Presidente la versión final de los tres (03) ejemplares
        empastados del informe de PPP, y en un plazo no mayor a 48 horas el presidente
        convocara a los miembros para su evaluación final. Y de forma inmediata convocar al
        practicante a la fecha y hora de la exposición sustentación del informe de PPP,
        debiendo publicar el aviso correspondiente en la dirección de la EAP.
        </li>
</ul>

<h3  class="t-center  t-bold">CAPTULO IX</h3>
<h4  class="t-center  t-bold">DEL JURADO EVALUADOR</h4>
<p style="text-align: justify;"> <b>Art. N°36.-</b>El jurado evaluador tendrá a su cargo la evaluación del informe de PPP y su
    exposición-sustentación. Estará conformado por dos (02) docentes ordinarios de la EAP de
    Ingeniería Civil y será presidido por el docente de mayor categoría, antigüedad, y de la
    especialidad en la que se ha desarrollado la PPP, en ese orden de jerarquía.</p>
<p> <b>Art. N°37.-</b>Son funciones del jurado evaluador lo siguiente:</p>
<ul>
    <li>Recibir el informe de PPP y verificar que este sea acorde a las PPP acreditadas en el
        certificado del centro de PPP.
        </li>
    <li>Formular las observaciones que sean necesarias, haciendo conocer al practicante en el
        tiempo establecido para su subsanación correspondiente.</li>
    <li>Revisar la conformidad de la subsanación de observaciones, y autorizar la edición de
        los ejemplares finales del informe de PPP.</li>
    <li>Convocar al practicante para el acto de exposición-sustentación en una fecha
        específica.</li>
    <li>Aprobar o desaprobar el informe y la exposición-sustentación de las PPP, y firmar el
        acta correspondiente de evaluación donde consignara la nota respectiva,</li>
    <li> Enviar los tres (03) ejemplares finales del informe a la COORDINACIÓN DE
        PRÁCTICAS PRE PROFESIONALES.
        </li>
</ul>
<h3  class="t-center  t-bold">CAPTULO X</h3>
<h4  class="t-center  t-bold">DE LA EXPOSICION-SUSTENTACION Y APROBACION</h4>
<p style="text-align: justify;"> <b>Art. N°38.-</b>El acto de exposición-sustentación constituye la etapa final para la aprobación de
    las PPP, el cual complementa al informe previamente revisado y corregido. Este acto permitirá
    emitir la nota final que constara en las actas de evaluación.
    </p>
<p> <b>Art. N°39.-</b>El acto de exposición-sustentación podrá iniciarse y desarrollarse
    indefectiblemente con la presencia del jurado evaluador.</p>
<p> <b>Art. N°40.-</b>El procedimiento bajo el cual se desarrollara el acto de exposición-sustentación
    será el siguiente:</p>
<ul>
    <li>Presentación del practicante y miembros del jurado</li>
    <li>Lectura del reglamento de PPP
    </li>
    <li>Indicaciones al practicante para el desarrollo de la exposición-sustentación</li>
    <li>Exposición-sustentación</li>
    <li> Rueda de preguntas y repreguntas si las hubiera</li>
    <li>Culminado el proceso, se invitara al practicante a desocupar la sala de sustentaciones,
        iniciándose el debate respecto a la calificación de las PPP</li>
</ul>
<p style="text-align: justify;"> <b>Art. N°41.-</b>El Jurado evaluador habiendo definido la nota final, el cual será en una escala de 0
    a 20, invitara al practicante nuevamente a la sala de sustentación a fin de dar a conocer el
    resultado de calificación sin indicar la nota cuantitativa, sino la nota cualitativa solamente. La
    calificación final se distingue por la siguiente mención cualitativa</p>
<ul>
    <li>DESAPROBADO    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De 00 - 12</li>
    <li>APROBADO  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De 13 - 16</li>
    <li>APROBADO CON DISTINCION &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De 17 - 20</li>
</ul>
<p style="text-align: justify;"> <b>Art. N°42.-</b>El JURADO EVALUADOR redactará y firmará inmediatamente el ACTA DE
    EVALUACIÓN DE PRACTICA PRE PROFESIONAL, en tres ejemplares, consignando la nota
    correspondiente. Los ejemplares del Acta se insertarán respectivamente en los 03 ejemplares
    en limpio del Informe. El presidente del JURADO EVALUADOR, remitirá a la COORDINACIÓN
    DE PRACTICAS PRE PROFESIONALES los 03 ejemplares empastados en limpio del Informe
    de Prácticas, un ejemplar en formato digital de la versión final del Informe, y el expediente
    documental de trámite, en un plazo no mayor de tres días hábiles posteriores al día de
    exposición sustentación
    </p>
<h3  class="t-center  t-bold">CAPTULO XI</h3>
<h4  class="t-center  t-bold">DE LA EXPOSICION-SUSTENTACION Y APROBACION</h4>
<p style="text-align: justify;"> <b>Art. N°43.-</b>La COORDINACIÓN DE PRÁCTICAS PRE PROFESIONALES, solicitara a la
    decanatura la emisión de la resolución decanal de aprobación y reconocimiento de las PPP,
    adjuntando al expediente de trámite un ejemplar en limpio de la versión final del informe de
    PPP (Incluyendo el acta de aprobación de PPP dentro del informe).
    </p>
<h3  class="t-center  t-bold">CAPTULO XII</h3>
<h4  class="t-center  t-bold">DE LAS FALTAS Y SANCIONES</h4>
<p style="text-align: justify;"> <b>Art. N°44.-</b>Se consideran faltas incurridas por el estudiante durante la realización de las PPP,
    y por consiguiente causales de anulación de las PPP los siguientes:</p>
<ul>
    <li>Inasistencias injustificadas al centro de PPP    </li>
    <li>Abandono de PPP</li>
    <li>Desarrollo de las PPP en actividades no especificadas en la aceptación inicial.</li>
    <li>Comportamiento indeseable en el centro de PPP que dañe la imagen de la universidad</li>
    <li>Presentación de documentos fraguados</li>
    <li>Reproducción total o parcial de informes anteriores</li>
    <li>Presentación de un informe fuera del plazo establecido</li>
</ul>
<p style="text-align: justify;"> <b>Art. N°45.-</b>Las faltas indicadas en el artículo anterior, serán tratadas e informadas en primera
    instancia por el docente asesor, en segunda instancia por la COORDINACION DE PRACTICAS
    PRE PROFESIONALES, que informara a la comisión académica quien dictaminara al respecto.</p>
<h3  class="t-center  t-bold">CAPTULO XIII</h3>
<h4  class="t-center  t-bold">DISPOSICIONES FINALES</h4>
<p> <b>Art. N°46.-</b>Los aspectos y casos no previstos en el presente reglamento, en primera instancia
    serán resueltos por la COORDINACIÓN DE PRÁCTICAS PRE PROFESIONALES. Yen casos
    que las circunstancias lo ameriten serán considerados por la comisión académica de la EAP o
    el Consejo de Facultad.</p>