
<div class="container mob-table">
    <div class="headers">
        <h2 class="table-title">{{messageListEmpresa}}</h2>
        <button class="btn add" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Agregar Estudiante</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr >
                <th>Id</th>
                <th>Nombre Empresa</th>
                <th>RUC Empresa</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let empresa of empresas">
                <td>{{empresa.id}}</td>
                <td>{{empresa.nombre}}</td>
                <td>{{empresa.ruc}}</td>
                <td><button class="btn btn-primary">Editar</button></td>
                <td><button class="btn btn-danger" (click)="deleteEmpresa(empresa.id)">Eliminar</button></td>
            </tr>
        </tbody>

    </table>
</div>


<div class="container mob-table">
    <div class="headers">
        <h2 class="table-title">{{messageListRepresentante}}</h2>
        <button class="btn add" data-bs-toggle="modal" data-bs-target="#repModal">Agregar Representante</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr >
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Dni</th>
                <th>Celular</th>
                <th>idEmpresa</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let representante of representantes">
                <td>{{representante.id}}</td>
                <td>{{representante.nombre}}</td>
                <td>{{representante.apellido}}</td>
                <td>{{representante.dni}}</td>
                <td>{{representante.celular}}</td>
                <td>{{representante.tblEmpresaId}}</td>
                <td><button class="btn btn-primary">Editar</button></td>
                <td><button class="btn btn-danger" (click)="deleteEmpresa(representante.id)">Eliminar</button></td>
            </tr>
        </tbody>

    </table>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form [formGroup]="EmpresaForm" (ngSubmit)="createEmpresa()">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Crear Empresa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombre Empresa</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la Empresa" formControlName="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">RUC Empresa</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ruc de la Empresa" formControlName="ruc">
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary add" data-bs-dismiss="modal">Crear</button>
                </div>
            </div>
        </form>
    </div>
</div>




<div class="modal fade" id="repModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form [formGroup]="RepresentanteForm" (ngSubmit)="createRepresentante()">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Crear Solicitud</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombres" formControlName="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Apellidos" formControlName="apellido">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Dni</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Dni" formControlName="dni">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">celular</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Celular" formControlName="celular">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Id Empresa</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Id Empresa" formControlName="tblEmpresaId">
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary add" data-bs-dismiss="modal">Crear</button>
                </div>
            </div>
        </form>
    </div>
</div>