

<div class="container mob-table">
    <div class="headers">
        <h2 class="table-title">{{messageList}}</h2>
        <button class="btn add" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Agregar Estudiante</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr >
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Dni</th>
                <th>Ciclo</th>
                <th>Grupo</th>
                <th>Estado Practica</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let estudiante of estudiantes">
                <td>{{estudiante.id}}</td>
                <td>{{estudiante.codigo}}</td>
                <td>{{estudiante.nombres}}</td>
                <td>{{estudiante.apellidos}}</td>
                <td>{{estudiante.dni}}</td>
                <td>{{estudiante.ciclo}}</td>
                <td>{{estudiante.grupo}}</td>
                <td>{{estudiante.estado_practicas}}</td>
                <td><button class="btn btn-primary">Editar</button></td>
                <td><button class="btn btn-danger" (click)="deleteEstudiante(estudiante.id)">Eliminar</button></td>
            </tr>
        </tbody>

    </table>
</div>



<!-- Button trigger modal -
  <!-- Modal -->
  <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form [formGroup]="EstudianteForm" (ngSubmit)="createEstudiante()">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Crear Estudiante</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Codigo</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Codigo del Estudiante" formControlName="codigo">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombres</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombres del Estudiante"formControlName="nombres">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Apellidos</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Apellidos del Estudiante" formControlName="apellidos">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Dni</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Dni del Estudiante" formControlName="dni">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Ciclo</label>
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="ciclo">
                            <option value="Ciclo 1">Ciclo 1</option>
                            <option value="Ciclo 2">Ciclo 2</option>
                            <option value="Ciclo 3">Ciclo 3</option>
                            <option value="Ciclo 4">Ciclo 4</option>
                            <option value="Ciclo 5">Ciclo 5</option>
                            <option value="Ciclo 6">Ciclo 6</option>
                            <option value="Ciclo 7">Ciclo 7</option>
                            <option value="Ciclo 8">Ciclo 8</option>
                            <option value="Ciclo 9">Ciclo 9</option>

                        </select >
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Grupo</label>
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="grupo">
                            <option value="Grupo 1">Grupo 1</option>
                            <option value="Grupo 2">Grupo 2</option>
                            <option value="Grupo 3">Grupo 3</option>
                            <option value="Unico">Unico</option>
                        </select >
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Estado de Practicas</label>
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="estado_practicas">
                            <option value="No iniciado">No iniciado</option>
                            <option value="En proceso">En proceso</option>
                            <option value="Finalizado">Finalizado</option>
                        </select >
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary add" data-bs-dismiss="modal">Crear</button>
                </div>
            </div>
        </form>
    </div>
  </div> -->