<div class="container mob-table">
    <div class="headers">
        <h2 class="table-title">{{messageListEvaluacion}}</h2>
        <button class="btn add" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Agregar Estudiante</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr >
                <th>Id</th>
                <th>Fase</th>
                <th>Fecha</th>
                <th>Observaciones</th>
                <th>Estado</th>
                <th>Practica N°</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let evaluacion of evaluaciones">
                <td>{{evaluacion.id}}</td>
                <td>{{evaluacion.fase}}</td>
                <td>{{evaluacion.fecha}}</td>
                <td>{{evaluacion.observaciones}}</td>
                <td>{{evaluacion.estado}}</td>
                <td>{{evaluacion.tblPracticaId}}</td>
                <td><button class="btn btn-primary">Editar</button></td>
                <td><button class="btn btn-danger" (click)="deleteEvaluacion(evaluacion.id)">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container mob-table">
    <div class="headers">
        <h2 class="table-title">{{messageListItem}}</h2>
        <button class="btn add" data-bs-toggle="modal" data-bs-target="#modalItem">Agregar Item</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr >
                <th>Id</th>
                <th>titulo</th>
                <th>Evaluacion</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let item of items">
                <td>{{item.id}}</td>
                <td>{{item.titulo}}</td>
                <td>{{item.tblEvaluacionId}}</td>
                <td><button class="btn btn-primary">Editar</button></td>
                <td><button class="btn btn-danger" (click)="deleteItem(item.id)">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form [formGroup]="EvaluacionForm" (ngSubmit)="createEvaluacion()">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Crear Evaluacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Fase</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="fase">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="exampleFormControlInput1" formControlName="fecha">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Observaciones</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="observaciones">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Estado</label>
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="estado">
                            <option value="No evaluado">No evaluado</option>
                            <option value="Evaluado">Evaluado</option>
                        </select >
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Id Practica</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="tblEmpresaId">
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary add" data-bs-dismiss="modal">Crear</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modalItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form [formGroup]="ItemForm" (ngSubmit)="createItem()">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Crear Evaluacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Titulo</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="titulo">
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary add" data-bs-dismiss="modal">Crear</button>
                </div>
            </div>
        </form>
    </div>
</div>