<div class="container mob-table">
    <div class="headers">
        <h2 class="table-title">Administrar Persona</h2>
        <button class="btn add">Agregar Estudiante</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Ciclo</th>
                <th>Año</th>
                <th>Persona Id</th>
                <th>Estado</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>202013998</td>
                <td>VI</td>
                <td>2022-2</td>
                <td>1</td>
                <td>0</td>
                <td><button class="btn btn-primary">Editar</button></td>
                <td><button class="btn btn-danger">Eleminar</button></td>
            </tr>
        </tbody>

    </table>
</div>